download:
  _target_: rs_tools._src.data.modis.downloader_aqua.download
  save_dir: ${save_dir}/aqua/raw
  start_date: ${period.start_date}
  start_time: ${period.start_time}
  end_date: ${period.end_date}
  end_time: ${period.end_time}
  region: "-130 -15 -90 5" # "lon_min lat_min lon_max lat_max"

geoprocess:
  _target_: rs_tools._src.geoprocessing.modis.geoprocessor_modis.geoprocess
  read_path: ${read_path}/aqua/raw
  save_path: ${save_path}/aqua/geoprocessed
  satellite: aqua

patch:
  _target_: rs_tools._src.preprocessing.prepatcher.prepatch
  read_path: ${read_path}/aqua/geoprocessed
  save_path: ${save_path}/aqua/analysis
  patch_size: ${patch_size}
  stride_size: ${stride_size}
  nan_cutoff: ${nan_cutoff}
  save_filetype: ${save_filetype}