download:
  _target_: rs_tools._src.data.goes.downloader_goes16.download
  save_dir: ${save_dir}/goes16/
  start_date: ${period.start_date}
  start_time: ${period.start_time}
  end_date: ${period.end_date}
  end_time: ${period.end_time}
  daily_window_t0: "14:00:00"
  daily_window_t1: "20:00:00"
  time_step: "1:00:00"

geoprocess:
  _target_: rs_tools._src.geoprocessing.goes.geoprocessor_goes16.geoprocess
  read_path: ${read_path}/goes16/raw
  save_path: ${save_path}/goes16/geoprocessed
  resolution: null
  region: null
  resample_method: bilinear

# preprocess:
# patch: